@media (max-width: 576px) {
  main {
    width: 100% !important;
  }
}

.list-group-item {
  color: #009688;
  background-color: rgb(255 255 255 / 52%);
  border: none;
  border-bottom: 1px solid #e2e2e2;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
}

